<div class="row">
  <div class="col-12 grid-margin">
    <div>
      <div class="card-body cardheader">
        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-info text-white mr-2">
              <i class="mdi mdi-book-open"></i>
            </span>
            FAQs
          </h3>
          <div class="text-right">
            <button
              type="button"
              class="btn btn-info btn-sm btn-rounded"
              (click)="openModal(exampleModalContent)"
            >
              <i class="mdi mdi-plus mr-1"></i>Add Faqs
            </button>
          </div>
        </div>

        <ng-template class="modal fade" #exampleModalContent let-modal>
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Edit Faqs</h3>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="modal.dismiss()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="pt-3">
                <div class="row">
                  <div class="form-group col-lg-12">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Question"
                      [(ngModel)]="this.newFAQ.question"
                    />
                  </div>

                  <div class="form-group col-lg-12">
                    <textarea
                      type="name"
                      class="form-control"
                      placeholder="Answer"
                      [(ngModel)]="this.newFAQ.answer"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-light btn-rounded"
                data-dismiss="modal"
                (click)="modal.close()"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-info btn-rounded"
                (click)="onSaveFAQ(); modal.close()"
              >
                Save
              </button>
            </div>
          </div>
        </ng-template>
        <!-- Modal Ends -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title">Pages</h4> -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="line_height">Question</th>
                <th>Answer</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let faq of this._FAQsService.allFAQsData">
                <td>{{ faq.question }}</td>
                <td>{{ faq.answer }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-info btn-rounded btn-icon"
                  >
                    <i
                      class="mdi mdi-pencil"
                      (click)="openModal(exampleModalContent)"
                    ></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
