<div class="row">
  <div class="col-12 grid-margin">
    <div>
      <div class="card-body cardheader">
        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-info text-white mr-2">
              <i class="mdi mdi-view-grid"></i>
            </span>
            Categories
          </h3>
          <div class="text-right">
            <button
              type="button"
              class="btn btn-info btn-sm btn-rounded"
              (click)="openModal(exampleModalContent)"
            >
              <i class="mdi mdi-plus mr-1"></i>Add Category
            </button>
          </div>
        </div>

        <!-- Modal Starts -->

        <ng-template class="modal fade" #exampleModalContent let-modal>
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Add Category</h3>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="modal.dismiss()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- <p>Modal body text goes here </p> -->
              <form class="pt-3" [formGroup]="categoryForm">
                <div class="row">
                  <!-- imgcenter -->
                  <div class="ml-0 form-group col-lg-2">
                    <label class="hoverable" for="fileInput">
                      <img
                        class="img"
                        [src]="url ? url : 'assets/images/faces/panadol.jpg'"
                      />
                      <div class="hover-text">
                        Image Will Be Loaded Automatically After Inputing
                        ImageID
                      </div>
                      <div class="background"></div>
                    </label>
                    <br />
                  </div>

                  <div
                    class="form-group col-lg-8 ml-0"
                    style="margin-left: 15% !important"
                  >
                    <div class="row">
                      <div class="form-group col-lg-6 mt-0">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="categoryName"
                          placeholder="Category Name"
                          [(ngModel)]="this.categoryObject.categoryName"
                        />
                      </div>

                      <div class="form-group col-lg-6 mt-0">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="routeURL"
                          placeholder="Route URL"
                          [(ngModel)]="this.categoryObject.routeURL"
                        />
                      </div>
                      <div class="form-group col-lg-6">
                        <input
                          type="name"
                          class="form-control"
                          formControlName="imageURL"
                          (change)="loadImage($event)"
                          placeholder="Image URL"
                          [(ngModel)]="this.categoryObject.imageURL"
                        />
                      </div>
                      <div class="form-group col-lg-6">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="pageTitle"
                          placeholder="Page Title"
                          [(ngModel)]="this.categoryObject.pageTitle"
                        />
                      </div>
                      <div class="form-group col-lg-6">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="pageDescription"
                          placeholder="Page Keyword"
                          [(ngModel)]="this.categoryObject.pageDescription"
                        />
                      </div>
                      <div class="form-group col-lg-6">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="pageKeyword"
                          placeholder="Page Keyword"
                          [(ngModel)]="this.categoryObject.pageKeyword"
                        />
                      </div>
                      <div class="form-group col-lg-6 ml-2 mt-2">
                        <div class="custom-control custom-switch">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="customSwitches"
                          />
                          <label
                            class="custom-control-label"
                            for="customSwitches"
                            >Show in main menu</label
                          >
                        </div>
                      </div>
                      <div
                        class="form-group col-lg-5 mt-2"
                        style="margin-left: 0%"
                      >
                        <div class="custom-control custom-switch">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            id="customSwitches"
                          />
                          <label
                            class="custom-control-label"
                            for="customSwitches"
                            >Show in sidebar</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="NgxEditor__Wrapper form-group mt-1">
                <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                <ngx-editor
                  [editor]="editor"
                  [(ngModel)]="categoryHTMLContent"
                  [disabled]="false"
                  [placeholder]="'Type here...'"
                >
                </ngx-editor>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-light btn-rounded"
                data-dismiss="modal"
                (click)="modal.close()"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-info btn-rounded"
                (click)="modal.close(); onSave()"
              >
                Save
              </button>
            </div>
          </div>
        </ng-template>
        <!-- Modal Ends -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Category image</th>
                <th>Category</th>
                <th>Include in header</th>
                <th>Include in sidebar</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="this._CategoryService.allCategoryData != undefined">
              <tr
                *ngFor="let category of this._CategoryService.allCategoryData"
              >
                <td>
                  <img [src]="category.imageURL" alt="" />
                </td>
                <td>
                  {{ category.categoryName }}
                </td>
                <td>
                  <label class="badge badge-info badge-pill">yes</label>
                </td>
                <td>
                  <label class="badge badge-info badge-pill">yes</label>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-info btn-rounded btn-icon"
                  >
                    <i class="mdi mdi-pencil"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
