.cardheader {
 padding: 10px !important; 
}

.form-control{
    padding: 20px ;
    border-radius: 20px;
}
.modal-title{
    font-weight: bold !important;
}

// @media (min-width: 992px){
// .modal-lg, .modal-xl {
//     max-width: 70% !important;
// }}