.cardheader {
  padding: 10px !important;
}

.form-control {
  padding      : 20px;
  border-radius: 20px;
}

.modal-title {
  font-weight: bold !important;
}


// image uploader

p {
  font-family: Lato;
}

img {
  height       : 100%;
  width        : 100%;
  border-radius: 5%;
}

.hoverable {
  position     : relative;
  display      : block;
  cursor       : pointer;
  //  height       : 250px;
  // width        : 450px;
  border       : 5px solid #f2edf3;
  border-radius: 5%;
}

.hoverable .hover-text {
  position   : absolute;
  display    : none;
  top        : 50%;
  left       : 50%;
  transform  : translate(-50%, -50%);
  z-index    : 2;
  font-size  : 14px;
  font-weight: bold;
  text-align : center;
}

.hoverable .background {
  position        : absolute;
  display         : none;
  top             : 0;
  left            : 0;
  bottom          : 0;
  right           : 0;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events  : none;
  border-radius: 5%;
  z-index         : 1;
}

.hoverable:hover .hover-text {
  display: block;
}

.hoverable:hover .background {
  display: block;
}

#fileInput {
  display: none;
}

.table th img,
.table td img {
  width        : 400px;
  height       : 280px;
  border-radius: 8%;
  // object-fit: cover;
  object-fit   : scale-down;


}

// .grid-margin {
//   margin-bottom: 2.5 rem;
// }