.form-control {
    padding-top   : 10px !important;
    padding-bottom: 10px !important;
    border-radius : 20px !important;
    color         : #3a9dee !important;
    height        : 40px !important;
}

.auth .brand-logo {
    margin-bottom: 1rem !important;
}


.plo {
    padding-top: 2rem !important;
}